<%- include('../partials/header'); %>
<main class="main characters-box container-fluid">
    <% data.forEach(el => { %>
        <a href="characters/<%= el.id %>">
            <div class="character-box">
                <!-- The regex is necessary. Otherwise every image is broken. -->
                <img class="img-fluid" src="<%- `${el.image.replace(/\/revision.*/, '')}` %>" alt="<%= el.name %>" />
                <p class="character-name">
                    <!-- Some names are completely missing in the API... -->
                    <%- el.name ? `${el.name}` : "Name missing" %>
                </p>
            </div>
        </a>
    <% }); %>
</main>
<%- include('../partials/footer'); %>
